<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
  <div class="container">
    <a class="navbar-brand ps-2" routerLink="home"
      ><img src="images/logo4.png" class="rounded-2" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive=" active-link "
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive=" active-link "
            routerLink="/products"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive=" active-link "
            routerLink="categories"
            [routerLinkActiveOptions]="{ exact: true }"
            >Categories</a
          >
        </li>
        @if (!isAdmin) {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive=" active-link "
            routerLink="/orders"
            [routerLinkActiveOptions]="{ exact: true }"
            >Orders</a
          >
        </li>
        } @if (isAdmin) {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive=" active-link "
            routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        }
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link "
            routerLink="/contact-us"
            >Contact-us</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto  icons d-flex flex-row  mb-3 mb-lg-0">
        @if (!isAdmin) {
        <li class="nav-item flex-grow-1">
          <a
            class="nav-link text-center"
            routerLinkActive=" active-link "
            routerLink="/wishlist"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fa-solid fa-heart"></i>
          </a>
        </li>
        <li class="nav-item flex-grow-1">
          <a
            class="nav-link text-center"
            routerLinkActive=" active-link "
            routerLink="/cart"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </li>
        }
        <li class="nav-item flex-grow-1">
          <a
            class="nav-link text-center"
            routerLinkActive=" active-link "
            routerLink="/settings"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fa-solid fa-gear"></i
          ></a>
        </li>

        <li
          class="nav-item flex-grow-1 ms-lg-4 rounded-2 px-2 logout"
          (click)="_AuthService.logOut()"
        >
          <a class="nav-link text-center text-white">
            <i class="fa-solid fa-arrow-right-from-bracket"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
