<section class="container d-flex flex-column flex-md-row gap-5">
  <div class="flex-grow-1">
    <h3>Shipping Address</h3>
    <div class="bigCon">
      <h4>Address</h4>
      @for (order of orders; track $index) {
      <div class="conAddress">
          <h5>{{order.order_details.address}}</h5>
          <p>{{order.order_details.phone}}</p>
        </div>
      }
    </div>
    <h2>Your Order</h2>
    <div class="bigCon">
      @for (order of orders; track $index) {
      <h3>Shipment {{$index +1}} </h3>
      <div class="conItems ">
          @for (item of order.products; track $index) {
            <div class="item">
              <div>
                
                <img crossorigin="anonymous" [src]="serverURL+item.imageCover" alt="img" >
                <span class="quantity">x{{item.quantity}}</span>
              </div>
              <div>
                <p>{{item.category.name}}</p>
                <h4>{{item.title}}</h4>
                <p>EGP <span>{{item.price}}</span></p>
              </div>
            </div>
          }
          <button class="delete mb-5" (click)="deleteSpecificProduct(order._id)">Delete</button>
        </div>
      }
      </div>
  </div>
  <div >
    <h3>Order Summary</h3>
    <div class="bigCon">
      <h4>Order Summary</h4>
      <div class="conCheckout">
        <div>
          <h5>SubTotal:</h5>
          <p>EG {{ total() | number:'1.0-0' }}</p>
        </div>
        <div>
          <h5>Shipping:</h5>
          <p>EG {{ 15 | number:'1.0-0' }}</p>
        </div>
        <div>
          <h5>Total:</h5>
          <p>EG {{ total() + 15 | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>
    <button class="cancelOrder" (click)="deleteAllOrders()">Cancel Order</button>
    <section class="secuirty">
      <h6><i class="fa-solid fa-lock"></i> Secuirty and Privacy</h6>
      <p class="mb-2">
        Our checkout is safe and secure. Your personal and payment Information is securely transmitted via 128-bit encryption. We do not store any payment card information on our systems
      </p>
      <p class=" mb-2">2025 ourTeam. All Rights Reserved</p>
      <p>Terms of Use Terms of Sale Privacy Policy</p>
    </section>
  </div>

</section>
