.head fa-icon {
  transition: 0.3s;
  cursor: pointer;
}
.head fa-icon:hover {
  color: red;
}
@media (max-width: 991px) {
  .image {
    width: 75%;
    margin: auto;
  }
}
.addComment {
  position: relative;
  display: flex;
}
.addComment input {
  width: 90%;
  box-shadow: none;
}
/* .addComment textarea {
  width: 90%;
  box-shadow: none;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  height: 50px;
  min-height: 20px;
} */

.addComment fa-icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none !important;
}
.userReview .userImage img {
  width: 60px;
  height: 60px;

.product{
  background: #000;
}
