
<div class="side-links">
  <div class="overview">
    <a routerLink="/dashboard/mainDashboard" routerLinkActive="DashboardActiveLink"  [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-house"></i>
      <span>Overview</span>
    </a>
  </div>
  <div class="content">
    <a routerLink="/dashboard/products" routerLinkActive="DashboardActiveLink"  [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Products</span>
    </a>
    <a routerLink="/dashboard/orders" routerLinkActive="DashboardActiveLink"  [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-file"></i>
      <span>Orders</span>
    </a>
    <a routerLink="/dashboard/customers" routerLinkActive="DashboardActiveLink"  [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-users"></i>
      <span>Customers</span>
    </a>
  </div>
</div>

         