.side-links {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 250px;
  height: 100vh;
  background-color: #1e1e2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.side-links a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.side-links a:hover,
.side-links a.active {
  background-color: #2a2a3b;
  color: #fff;
  border-right: 8px solid #f44336;
}

.side-links i {
  width: 30px;
  font-size: 18px;
  text-align: center;
}

.side-links span {
  margin-left: 10px;
  font-size: 16px;
  white-space: nowrap;
}

hr {
  background-color: #333;
  height: 1px;
  border: none;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .side-links {
    width: 60px;
    align-items: center;
  }

  .side-links span {
    display: none;
  }

  .side-links a {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .side-links {
    width: 190px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .side-links {
    width: 230px;
  }
}

.DashboardActiveLink {
  background-color: red !important;
  color: green !important;
}
