<div class="container py-3">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="info border border-1 p-3 shadow-sm rounded-2 mb-4">
          <h4>Personal Information</h4>
          <hr />
          <div class="row g-4 align-items-center">
            <div class="col-lg-3">
              <div
                class="userImage d-flex justify-content-center align-items-center"
              >
                <div class="imgContainer position-relative">
                  <img
                    src="images/avatar-05.png"
                    alt="user picture"
                    class="rounded-circle img-thumbnail object-fit-cover"
                  />
                  <fa-icon
                    [icon]="edit"
                    class="position-absolute fs-6 btn border border-1 rounded-circle bg-white"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="details">
                <div>
                  <label for="name" class="fw-semibold">Name</label>
                  <input
                    type="text"
                    class="form-control py-2 rounded-0 mt-2"
                    id="name"
                    placeholder="Mohamed Mamdouh"
                  />
                </div>
                <div class="my-3">
                  <label for="email" class="fw-semibold">Email</label>
                  <input
                    type="email"
                    class="form-control py-2 rounded-0 mt-2"
                    id="email"
                    placeholder="name@example.com"
                  />
                </div>
                <div>
                  <label for="phone" class="fw-semibold">Phone</label>
                  <input
                    type="text"
                    class="form-control py-2 rounded-0 mt-2"
                    id="phone"
                    placeholder="01272967951"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="changePass border border-1 p-3 shadow-sm rounded-2">
          <h4>Change Password</h4>
          <hr />
          <div class="row g-4">
            <div class="col-lg-4">
              <div>
                <label for="oldPass" class="fw-semibold">Old Password</label>
                <input
                  type="password"
                  class="form-control py-2 rounded-0 mt-2"
                  id="oldPass"
                  placeholder="*********"
                />
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <label for="newPass" class="fw-semibold">New Password</label>
                <input
                  type="password"
                  class="form-control py-2 rounded-0 mt-2"
                  id="newPass"
                  placeholder="*************"
                />
              </div>
            </div>
  
            <div class="col-lg-4">
              <div>
                <label for="newPassAgain" class="fw-semibold"
                  >New Password Again</label
                >
                <input
                  type="password"
                  class="form-control py-2 rounded-0 mt-2"
                  id="newPassAgain"
                  placeholder="*************"
                />
              </div>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-end my-4">
          <div class="col-lg-3">
            <button class="btn btn-dark rounded-2 py-2 w-100">
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  