<section class="popular-products">
  <div class="container">
    <div class="row g-4 py-5">
      @if(categoryList.length>0) { @for(product of categoryList; track
      product._id) {

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="product-card card h-100 border-0">
          <button class="wishlist-btn" (click)="toggleWishlist(product)">
            <i
              class="bi"
              [ngClass]="
                product.isWachList ? 'bi-heart-fill text-danger' : 'bi-heart'
              "
            ></i>
          </button>

          <div class="product-image">
            <img
              [src]="product.images[selectedImageIndex[product._id] || 0]"
              alt="{{ product.title }}"
              class="img-fluid product-thumbnail"
            />
            <div class="dot-indicators">
              <span
                *ngFor="let img of product.images; let i = index"
                class="dot"
                [class.active]="selectedImageIndex[product._id] === i"
                (click)="changeImage(product._id, i)"
              ></span>
            </div>
          </div>

          <div class="product-details p-3">
            <span class="product-category">{{ product.category.name }}</span>
            <h3 class="product-title one-line">{{ product.title }}</h3>

            <div class="d-flex justify-content-between align-items-center">
              <span class="price fw-bold text-danger fs-4"
                >${{ product.price }}</span
              >
              <span class="rating text-warning d-flex align-items-center gap-1">
                <div
                  *ngFor="
                    let num of [1, 2, 3, 4, 5].slice(0, product.ratingsAverage);
                    let i = index
                  "
                >
                  <i class="fas fa-star"></i>
                </div>
                <div *ngIf="product.ratingsAverage % 1 !== 0">
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <span class="text-dark ms-1 fs-5">{{
                  product.ratingsAverage
                }}</span>
              </span>
            </div>
            <button
              class="add-to-cart-btn w-100 mt-3"
              (click)="addToCart(product)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</section>
