<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center px-3">
  <div class="row w-100 rounded-4" style="max-width: 1300px;">
    <!-- Left side (Register Form) -->
    <div class="col-md-6 bg-white p-3 p-md-5">
      <h2 class="fw-bold text-center mb-4 mb-md-5">Create Account</h2>

      <!-- Error message -->
      <div *ngIf="errorMessage" class="message error-message">
        <mat-icon class="me-2">error</mat-icon>
        <span>{{ errorMessage }}</span>
        <button type="button" class="close-btn" (click)="clearError()">×</button>
      </div>

      

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
          <input
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="Name"
            [ngClass]="{ 'is-invalid': registerForm.get('username')?.invalid && (registerForm.get('username')?.touched  || registerForm.get('username')?.dirty) }"
          />
          <div class="invalid-feedback" *ngIf="registerForm.get('username')?.hasError('required')">
            Name is required
          </div>
          <div class="invalid-feedback" *ngIf="registerForm.get('username')?.hasError('pattern')">
            Username must contain only letters and numbers
          </div>
        </div>


        <div class="mb-3">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Email"
            [ngClass]="{ 'is-invalid': registerForm.get('email')?.invalid && (registerForm.get('email')?.touched|| registerForm.get('email')?.dirty) }"
          />
          <div class="invalid-feedback" *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required
          </div>
          <div class="invalid-feedback" *ngIf="registerForm.get('email')?.hasError('email')">
            Please enter a valid email
          </div>
        </div>

        <div class="mb-3">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': registerForm.get('password')?.invalid && (registerForm.get('password')?.touched|| registerForm.get('password')?.dirty) }"
          />
          <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required
          </div>
          <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters
          </div>
        </div>


        <div class="mb-4">
          <input
            formControlName="phone"
            type="text"
            class="form-control"
            placeholder="Phone"
            [ngClass]="{ 'is-invalid': registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched  || registerForm.get('phone')?.dirty) }"
          />
          <div class="invalid-feedback" *ngIf="registerForm.get('phone')?.hasError('required')">
            Phone is required
          </div>
        </div>

        <div class="mb-4">
          <div class="d-flex px-3">
            <div class="flex-fill">
              <input type="radio" id="userRole" formControlName="role" value="user" class="btn-check" autocomplete="off">
              <label class="btn btn-outline-primary w-75 ms-3  py-3 d-flex flex-column justify-content-center align-items-center" for="userRole">
                <span>User</span>
              </label>
            </div>
            
            <div class="flex-fill">
              <input type="radio" id="adminRole" formControlName="role" value="admin" class="btn-check" autocomplete="off">
              <label class="btn btn-outline-primary w-75 me-3  py-3 d-flex flex-column justify-content-center align-items-center" for="adminRole">
                <span>Admin</span>
              </label>
            </div>
          </div>
          
          <div class="invalid-feedback d-block" 
               *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.touched || registerForm.get('role')?.dirty)">
            Please select a role
          </div>
        </div>


        <div class="d-grid mb-3">
          <button 
            type="submit" 
            class="btn btn-dark shadow" 
          >
            Create
          </button>
        </div>

        <div class="text-center mt-3 small">
          🛒 
          <a routerLink="/" class="text-decoration-underline text-dark">
            <i class="bi bi-shop me-2"></i>Return to store
          </a>
        </div>
      </form>
    </div>

    <!-- Right side (Image) -->
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-white p-3 p-md-5 order-1 order-lg-2">
      <img src="images/RegisterPhoto.png" alt="Register illustration" class="img-fluid" />
    </div>
  </div>
</div>
