.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100vh - 56px);
}
.sideNav {
  width: 20%;
}
section {
  width: 78%;
  margin-top: 10px;
}



@media (max-width: 991px) {
  .sideNav {
  width: 15%;
}
section {
  width: 85%;
  /* margin-top: 16px; */
}
}