.table-responsive {
  overflow-x: auto;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
tr img {
  width: 80px;
  height: 80px;
}

/* Popup overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popUp-AddProduct {
  position: fixed;
  overflow: auto;
  width: 70vw;
  z-index: 99999999999;
  height: auto;
}

@media (max-width: 767px) {
  .popUp-AddProduct {
    top: 9vh;
    height: 90vh;
    width: 90vw;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .popUp-AddProduct {
    top: 15vh;
    height: 80vh;
    width: 80vw;
  }
}

.info .details input {
  box-shadow: none;
}
.productTitle {
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 215px;
}