<owl-carousel-o [options]="mainOptions">
  <ng-template carouselSlide>
    <img
      class="w-100 object-fit-lg-fill"
      src="/images/slider1.jpg"
      height="400px"
    />
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/slider2.jpg" height="400px"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/slider3.jpg" height="400px"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/slider4.jpg" height="400px"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/slider5.jpg" height="400px"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/slider6.jpg" height="400px"
  /></ng-template>
</owl-carousel-o>
