<app-nav-links [url]="url"></app-nav-links>

<section class="container d-flex flex-column flex-md-row gap-5 mt-5">
  <div class="w-100 w-md-50 ">
    <div>
      <h2>Let's Collaborate</h2>
      <p>The Best electronics products continue to drive innovation we live, work, and interact with our environment opportunities customers to test out products before making a purchase.innovation, we live, work, and interact with our environment, opportunities</p>
    </div>
    <div>
      <h3>Phone</h3>
      <p>+(2) 123-456-789</p>
    </div>
    <div>
      <h3>Email</h3>
      <p>support&#64;suppert.com</p>
    </div>
    <div>
      <h3>Head office</h3>
      <p>70 Washington SquareNew York, NY 10012, USA</p>
    </div>
  </div>
  <form class="w-100 w-md-50">
    <h2>Say Hello</h2>
    <div>
      <input type="text" placeholder="Name:">
      <input type="text" placeholder="Email:">
      <input type="password" placeholder="Phone number:">
      <textarea title="message" placeholder="Message"></textarea>
    </div>
    <input type="submit" value="Send Now" >
  </form>
</section>

<section>
  <iframe class="map " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55251.37809418713!2d31.217264795135883!3d30.0594820282634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1746019086285!5m2!1sen!2seg" width="600" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
