section div div h2{
  font-weight: bold;
  font-size: 30px;
}
section div div p{
  color: var(--text-muted);
}
section div div h3{
  color: #575757;
  font-weight: 600;
}


form{
  background-color:#f0f0f0;
  padding: 30px;
  border-radius: 10px;

}
form h2{
  font-weight: 700;
}
form .con{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 35px;
}

form div input ,textarea{
  border: 0;
  padding: 10px 5px ;
  border-bottom: 2px solid #cccccc88;
  background-color: #f0f0f0;
  border-radius: 5px;
  outline: none;
  width: 100%;
}
form div input::placeholder ,textarea::placeholder{
  font-weight: 500;
  color: black;
}
form input[type='submit']{
  background-color: black;
  color: white;
  padding: 9px 20px;
  border-radius: 20px;
  transition: .5s;
}
form input[type='submit']:hover{
  background-color: #f0f0f0;
  color: black;
}

section .map{
  width: 95%;
  margin: 40px auto;
  display: block;

}
.buttonAllow {
  cursor: pointer;
  background-color: green;
  color: white;
}

.buttonNotAllow {
  cursor: not-allowed;
  background-color: #00000099;
  color: white;
}
input.buttonNotAllow:hover {
  background-color: red;
  color: white;
}
