.table-responsive {
  overflow-x: auto;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.orderTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
}


