<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center px-3">
  <div class="row w-100 rounded-4" style="max-width: 1300px;">
    <!-- Left side (Forgot Password Form) -->
    <div class="col-md-6 bg-white p-3 p-md-5 forget-box">
      <h2 class="text-center mb-4 mb-md-5 fw-bold">Forgot Password</h2>

      <div *ngIf="successMessage" class="message success-message">
        <mat-icon>check_circle</mat-icon>
        <span>{{ successMessage }}</span>
        <button type="button" class="close-btn" (click)="clearSuccess()">×</button>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger d-flex align-items-center gap-2 justify-content-center text-center errorMessage">
        <span class="icon">❌</span> {{ errorMessage }}
      </div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control shadow-sm" placeholder="Enter your email"
            [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched }" />
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
            <small *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required.</small>
            <small *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Invalid email format.</small>
          </div>
        </div>

        <div class="d-grid mb-3">
          <button class="btn btn-dark shadow" type="submit">Send Verification Code</button>
        </div>

        <p class="text-center mt-3 small">
          <a routerLink="/login" class="text-decoration-underline text-dark">Back to login</a>
        </p>
      </form>
    </div>

    <!-- Right side (Image) -->
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-whitep-md-5 order-1 order-lg-2">
      <img src="images/forgot-password.webp" class="img-fluid" />
    </div>
  </div>
</div>
