<h3 class="lead mb-3 fs-3 fw-medium">Customers</h3>

<div class="table-responsive rounded-2 mb-4">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th class="py-3 fw-normal" scope="col">Image</th>
        <th class="py-3 fw-normal" scope="col">Name</th>
        <th class="py-3 fw-normal" scope="col">Email</th>
        <th class="py-3 fw-normal" scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      @if(allCustomers.length !== 0){ @for (customer of allCustomers; track
      $index) {

      <tr>
        <td>
          <img
            crossorigin="anonymous"
            [src]="serverURL + customer.avatar"
            class="rounded-circle profileImage"
            alt="Product 3"
          />
        </td>
        <td class="py-3">{{ customer.username }}</td>
        <td class="py-3">{{ customer.email }}</td>
        <td class="py-3">{{ customer.phone }}</td>
      </tr>
      } } @else {
      <tr>
        <td colspan="12" class="text-center pt-3">
          <h5 class="lead">No Customers Found</h5>
        </td>
      </tr>

      }
    </tbody>
  </table>
</div>
