<h3 class="lead mb-3 fs-3">Customers</h3>

<div class="table-responsive rounded-2 mb-4">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
       
        <th class="py-3 fw-normal" scope="col">Image</th>
        <th class="py-3 fw-normal" scope="col">Name</th>
        <th class="py-3 fw-normal" scope="col">Email</th>
        <th class="py-3 fw-normal" scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">John Doe</td>
        <td class="py-3">johndoe&#64;example.com</td>
        <td class="py-3">+1234567890</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Mary Smith</td>
        <td class="py-3">marysmith&#64;example.com</td>
        <td class="py-3">+1987654321</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">David Johnson</td>
        <td class="py-3">davidj&#64;example.com</td>
        <td class="py-3">+1122334455</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Anna Brown</td>
        <td class="py-3">annabrown&#64;example.com</td>
        <td class="py-3">+2233445566</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Michael Green</td>
        <td class="py-3">michaelgreen&#64;example.com</td>
        <td class="py-3">+3344556677</td>
 
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">John Doe</td>
        <td class="py-3">johndoe&#64;example.com</td>
        <td class="py-3">+1234567890</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Mary Smith</td>
        <td class="py-3">marysmith&#64;example.com</td>
        <td class="py-3">+1987654321</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">David Johnson</td>
        <td class="py-3">davidj&#64;example.com</td>
        <td class="py-3">+1122334455</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Anna Brown</td>
        <td class="py-3">annabrown&#64;example.com</td>
        <td class="py-3">+2233445566</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Michael Green</td>
        <td class="py-3">michaelgreen&#64;example.com</td>
        <td class="py-3">+3344556677</td>
 
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">John Doe</td>
        <td class="py-3">johndoe&#64;example.com</td>
        <td class="py-3">+1234567890</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Mary Smith</td>
        <td class="py-3">marysmith&#64;example.com</td>
        <td class="py-3">+1987654321</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">David Johnson</td>
        <td class="py-3">davidj&#64;example.com</td>
        <td class="py-3">+1122334455</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Anna Brown</td>
        <td class="py-3">annabrown&#64;example.com</td>
        <td class="py-3">+2233445566</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Michael Green</td>
        <td class="py-3">michaelgreen&#64;example.com</td>
        <td class="py-3">+3344556677</td>
 
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">John Doe</td>
        <td class="py-3">johndoe&#64;example.com</td>
        <td class="py-3">+1234567890</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Mary Smith</td>
        <td class="py-3">marysmith&#64;example.com</td>
        <td class="py-3">+1987654321</td>

      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">David Johnson</td>
        <td class="py-3">davidj&#64;example.com</td>
        <td class="py-3">+1122334455</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Anna Brown</td>
        <td class="py-3">annabrown&#64;example.com</td>
        <td class="py-3">+2233445566</td>
  
      </tr>
      <tr>
        <td>
          <img
            src="https://placehold.co/80?text=product"
            class="rounded-2"
            alt="Product 3"
          />
        </td>
        <td class="py-3">Michael Green</td>
        <td class="py-3">michaelgreen&#64;example.com</td>
        <td class="py-3">+3344556677</td>
 
      </tr>
    </tbody>
  </table>
</div>
