.popular-products {
  padding: 5rem 0;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #2c3e50;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: red;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.product-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wishlist-btn:hover {
  background: white;
  transform: scale(1.1);
}

.wishlist-btn i {
  font-size: 1.2rem;
}

.product-thumbnail {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
}

.product-card:hover .product-thumbnail {
  transform: scale(1.05);
}

.product-image {
  position: relative;
  margin-bottom: 25px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-category {
  font-size: 1rem;
  color: #7f8c8d;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0.25rem;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.85rem;
  color: #7f8c8d;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #e74c3c;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.stars {
  color: #ffcf11;
  font-size: 0.9rem;
}

.rating-count {
  font-size: 1rem !;
  color: #95a5a6;
}

.add-to-cart-btn {
  background: linear-gradient(135deg, #6d5561, #1a1a1a);
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background: linear-gradient(135deg, #795e6b, #1a1919);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn:active { 
  transform: scale(1); 
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 50%;
  padding: 0.75rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 3px #795e6b; */
  transition: all 0.3s ease;
}

.search-input:focus {
  /* box-shadow: 0 0 8px #705361; */
  box-shadow: 0 0 3px 2px #ececec;
}
