.card {
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
h5:last-child {
  transition: 0.3s;
}
.card:hover h5:last-child {
  transform: scale(1.3);
}
.card .icon {
  font-size: 30px;
  color: #ffffff;
}

