<h3 class="lead mb-3 fs-3">Overview</h3>
<div class="row g-3">
  <div class="col-md-6 col-lg-3">
    <div class="card p-3 bg-dark text-white">
      <div class="icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <h6 class="lead">Total visitors</h6>
      <h5>75,555</h5>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card p-3 bg-dark text-white">
      <div class="icon">
        <i class="fa-solid fa-truck-fast"></i>
      </div>
      <h6 class="lead">Total Orders</h6>
      <h5>150</h5>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card p-3 bg-dark text-white">
      <div class="icon">
        <i class="fa-solid fa-money-check-dollar"></i>
      </div>
      <h6 class="lead">Total sales</h6>
      <h5>$12,780</h5>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card p-3 bg-dark text-white">
      <div class="icon">
        <i class="fa-solid fa-box-open"></i>
      </div>
      <h6 class="lead">Total products</h6>
      <h5>50</h5>
    </div>
  </div>
</div>

<div class="row g-3 my-4">
  <div class="col-xl-8">
    <div
      class="rounded-2 shadow-lg  p-4 d-flex flex-column justify-content-center align-items-center"
    >
      <h4>Target</h4>

      <ngx-charts-gauge
        [results]="gaugeData"
        [min]="0"
        [max]="100"
        [view]="view"
        [animations]="true"
      >
      </ngx-charts-gauge>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="rounded-2 shadow-lg p-4">
      <h5>Top Products</h5>

      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Product 1</h6>
            <p class="m-0 lead fs-6">category</p>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">500$</p>
        </div>
      </div>
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Product 1</h6>
            <p class="m-0 lead fs-6">category</p>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">500$</p>
        </div>
      </div>
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Product 1</h6>
            <p class="m-0 lead fs-6">category</p>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">500$</p>
        </div>
      </div>
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Product 1</h6>
            <p class="m-0 lead fs-6">category</p>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">500$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div
      class="rounded-2 shadow-lg  p-4 d-flex flex-column justify-content-center align-items-center"
    >
      <h4 class="">Products Statistic</h4>

      <ngx-charts-bar-horizontal
        [results]="Staticsdata"
        [view]="Staticview"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Total sales'"
        [yAxisLabel]="'Products'"
      >
      </ngx-charts-bar-horizontal>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="rounded-2 shadow-lg  p-4">
      <h5>Top Categories</h5>

      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Smartphone</h6>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">120</p>
        </div>
      </div>
     
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted   fs-6">Smartphone</h6>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">120</p>
        </div>
      </div>
     
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Smartphone</h6>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">120</p>
        </div>
      </div>
     
      <div
        class="product d-flex justify-content-between align-items-center mt-3"
      >
        <div class="info d-flex align-items-center gap-2">
          <div class="img">
            <img
              src="https://placehold.co/50?text=product"
              class="rounded-2"
              alt=""
            />
          </div>
          <div class="text">
            <h6 class="m-0 text-muted fs-6">Smartphone</h6>
          </div>
        </div>
        <div class="price">
          <p class="m-0 fw-normal">120</p>
        </div>
      </div>
     
  
    </div>
  </div>
</div>
