<footer class="mt-5">
  <div class="container py-2">
    <div
      class="Subscribe row align-items-center justify-content-between my-3 my-md-3"
    >
      <div class="col-md-6 col-xl-4 mb-3 mb-md-0">
        <h2 class="headTitle lead fs-2 text-center text-md-start">
          Subscribe our Newsletter and get all of our update
        </h2>
      </div>
      <div class="col-md-6 col-lg-6 mb-3 mb-md-0">
        <form class="d-flex rounded-pill form-wrapper">
          <input
            type="email"
            class="form-control shadow-none border-0 text-white bg-transparent py-3 ms-2"
            placeholder="Enter your email"
            required
          />
          <button type="submit" class="btn p-0 rounded-pill my-2 me-2">
            Submit Now
          </button>
        </form>
      </div>
    </div>
    <hr />
    <div class="content-large d-none d-lg-block">
      <div class="row my-4">
        <div class="col-md">
          <h6 class="fw-medium">Customer Service</h6>
          <ul class="list-unstyled">
            <li class="lead fs-6">Track Your Order</li>
            <li class="lead fs-6">Return & Refund</li>
            <li class="lead fs-6">Shipping Info</li>
            <li class="lead fs-6">Help Center</li>
          </ul>
        </div>
        <div class="col-md">
          <h6 class="fw-medium">Shop by Category</h6>
          <ul class="list-unstyled">
            <li class="lead fs-6">Laptops</li>
            <li class="lead fs-6">Headphones</li>
            <li class="lead fs-6">Cameras</li>
            <li class="lead fs-6">Home Appliances</li>
          </ul>
        </div>

        <div class="col-md">
          <h6 class="fw-medium">Information</h6>
          <ul class="list-unstyled">
            <li class="lead fs-6">About Us</li>
            <li class="lead fs-6">Contact Us</li>
            <li class="lead fs-6">Payment Methods</li>
            <li class="lead fs-6">Privacy Policy</li>
          </ul>
        </div>

        <div class="col-md">
          <h6 class="fw-medium">My Account</h6>
          <ul class="list-unstyled">
            <li class="lead fs-6">Login / Register</li>
            <li class="lead fs-6">View Cart</li>
            <li class="lead fs-6">My Wishlist</li>
            <li class="lead fs-6">Order History</li>
          </ul>
        </div>

        <div class="col-md">
          <h6 class="fw-medium">Contact Info</h6>
          <address>
            <!-- 70 Washington Square South, New York, NY 10012, United States<br /> -->
            70 Smart Village, Cairo, NY 10012, Egypt<br />
            <p class="py-1">
              +20 114 447 1188<br />
              +20 123 456 7810
            </p>
          </address>
          <div class="d-flex gap-3">
            <button class="btn border border-white rounded-circle px-2 py-1">
              <i class="fab fa-instagram"></i>
            </button>
            <button class="btn border border-white rounded-circle px-2 py-1">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button class="btn border border-white rounded-circle px-2 py-1">
              <i class="fab fa-twitter"></i>
            </button>
            <button class="btn border border-white rounded-circle px-2 py-1">
              <i class="fab fa-youtube"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-small d-lg-none">
      <div class="accordion" id="accordionCustomerService">
        <div class="accordion-item bg-transparent border-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button shadow-none collapsed bg-transparent text-white pe-5 position-relative"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseCustomerService"
            >
              Customer Service
              <span
                class="position-absolute end-0 me-3 top-50 translate-middle-y text-white icon-toggle"
              >
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </h2>
          <div
            id="collapseCustomerService"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionCustomerService"
          >
            <div class="accordion-body bg-transparent text-white">
              <ul class="list-unstyled">
                <li class="lead fs-6">Track Your Order</li>
                <li class="lead fs-6">Return & Refund</li>
                <li class="lead fs-6">Shipping Info</li>
                <li class="lead fs-6">Help Center</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionShopByCategory">
        <div class="accordion-item bg-transparent border-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button shadow-none collapsed bg-transparent text-white pe-5 position-relative"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseShopByCategory"
            >
              Shop by Category
              <span
                class="position-absolute end-0 me-3 top-50 translate-middle-y text-white icon-toggle"
              >
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </h2>
          <div
            id="collapseShopByCategory"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionShopByCategory"
          >
            <div class="accordion-body bg-transparent text-white">
              <ul class="list-unstyled">
                <li class="lead fs-6">Laptops</li>
                <li class="lead fs-6">Headphones</li>
                <li class="lead fs-6">Cameras</li>
                <li class="lead fs-6">Home Appliances</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionInformation">
        <div class="accordion-item bg-transparent border-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button shadow-none collapsed bg-transparent text-white pe-5 position-relative"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseInformation"
            >
              Information
              <span
                class="position-absolute end-0 me-3 top-50 translate-middle-y text-white icon-toggle"
              >
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </h2>
          <div
            id="collapseInformation"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionInformation"
          >
            <div class="accordion-body bg-transparent text-white">
              <ul class="list-unstyled">
                <li class="lead fs-6">About Us</li>
                <li class="lead fs-6">Contact Us</li>
                <li class="lead fs-6">Payment Methods</li>
                <li class="lead fs-6">Privacy Policy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionMyAccount">
        <div class="accordion-item bg-transparent border-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button shadow-none collapsed bg-transparent text-white pe-5 position-relative"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMyAccount"
            >
              My Account
              <span
                class="position-absolute end-0 me-3 top-50 translate-middle-y text-white icon-toggle"
              >
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </h2>
          <div
            id="collapseMyAccount"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionMyAccount"
          >
            <div class="accordion-body bg-transparent text-white">
              <ul class="list-unstyled">
                <li class="lead fs-6">Login / Register</li>
                <li class="lead fs-6">View Cart</li>
                <li class="lead fs-6">My Wishlist</li>
                <li class="lead fs-6">Order History</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="accordionContactInfo">
        <div class="accordion-item bg-transparent border-0">
          <h2 class="accordion-header">
            <button
              class="accordion-button shadow-none collapsed bg-transparent text-white pe-5 position-relative"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseContactInfo"
            >
              Contact Info
              <span
                class="position-absolute end-0 me-3 top-50 translate-middle-y text-white icon-toggle"
              >
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </h2>
          <div
            id="collapseContactInfo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionContactInfo"
          >
            <div class="accordion-body bg-transparent text-white">
              <address>
                70 Smart Village, Cairo, NY 10012, Egypt<br />
                <p class="py-1">
                  +20 114 447 1188<br />
                  +20 123 456 8109
                </p>
              </address>
              <div class="d-flex gap-3">
                <button class="btn border border-white rounded-circle px-2">
                  <i class="fab fa-instagram text-white"></i>
                </button>
                <button class="btn border border-white rounded-circle px-2">
                  <i class="fab fa-facebook-f text-white"></i>
                </button>
                <button class="btn border border-white rounded-circle px-2">
                  <i class="fab fa-twitter text-white"></i>
                </button>
                <button class="btn border border-white rounded-circle px-2">
                  <i class="fab fa-youtube text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white text-dark">
    <div
      class="container d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-between py-2 copyright"
    >
      <h6 class="lead fs-5">© 2025, Elexy Shopify Theme</h6>
      <div class="d-flex align-items-center gap-2">
        <h6 class="lead fs-5">Payment partners</h6>
        <img src="images/amazon-pay.png" width="30px" alt="" />
        <img src="images/American-Express-Color.png" width="30px" alt="" />
        <img src="images/paypal.png" width="30px" alt="" />
        <img src="images/mastercard.webp" width="30px" alt="" />
      </div>
    </div>
  </div>
</footer>
